@use "../assets/scss/abstract/mixins" as mixin;

/* header */
.header {
  width: 100%;
  padding: .6rem 8rem;
  // background-color: rgba(0, 0, 0, 0.953);
  background-color: transparent;
  transition: 300ms ease-in-out;
  z-index: 10;

  @include mixin.responsive("xs") {
    padding: .6rem 2rem;
  }

  @include mixin.responsive("sm", "sm-md") {
    padding: .6rem 2rem;
  }

  &.nav-sticky {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.953);
    box-shadow: 0 0 5px #ffffff5c;
    transition: 300ms ease-in-out;

    @include mixin.responsive("xs") {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.953), rgba(0, 0, 0, 0.593));
    }

    @include mixin.responsive("sm", "sm-md") {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.953), rgba(0, 0, 0, 0.593));
    }

  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > a {
      font-family: "Shadows Into Light", cursive;
      font-size: 1.4rem;
      // color: #000;
      color: #ffffffdc;

      & > span {
        font-size: .9rem;
      }

      &:hover {
        color: rgba(169, 211, 253, 0.927);
        transition: 300ms;
      }
    }

    &--menu {
      display: none;

      @include mixin.responsive("xs") {
        display: flex;
        justify-content: center;
        align-items: center;

      }

      @include mixin.responsive("sm", "sm-md") {
        display: flex;
        justify-content: center;
        align-items: center;

      }

      & > svg {
        width: 1.5rem;
        color: #fff;
      }
    }

    &--item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 6rem;

      @include mixin.responsive("xs") {
        height: 100%;
        width: 70%;
        position: fixed;
        top: 0;
        padding: 1.1rem 2rem 2rem 2rem;
        right: -100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        overflow-y: auto;
        z-index: 20;
        // box-shadow: 5px 12px 17px 0px rgb(0 0 0 / 38%);
        box-shadow: 5px 12px 17px 0px rgba(255, 255, 255, 0.764);
        transition: 400ms ease-in-out;

        &.show-nav {
          right: 0 !important;
          transition: 400ms ease-in-out;
        }
      }

      @include mixin.responsive("sm", "sm-md") {
        height: 100%;
        width: 50%;
        position: fixed;
        top: 0;
        padding: 1.1rem 2rem;
        right: -100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        z-index: 20;
        // box-shadow: 5px 12px 17px 0px rgb(0 0 0 / 38%);
        box-shadow: 5px 12px 17px 0px rgba(255, 255, 255, 0.598);
        transition: 400ms ease-in-out;

        &.show-nav {
          right: 0 !important;
          transition: 400ms ease-in-out;
          overflow-y: auto;
        }
      }

      .cls-nav {
        display: none;

        @include mixin.responsive("xs") {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          align-items: flex-end;
        }

        @include mixin.responsive("sm", "sm-md") {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          align-items: flex-end;
        }


        svg {
          width: 1.5rem;
        }
      }

      & ul.nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5rem;

        &:not(.social-link-section) {
          @include mixin.responsive("xs") {
            flex-direction: column;
          }

          @include mixin.responsive("sm", "sm-md") {
            flex-direction: column;
          }
        }

        @include mixin.responsive("xs") {
          align-items: center;
        }

        @include mixin.responsive("sm", "sm-md") {
          align-items: center;
        }

        li.nav-item {
          list-style: none;

          & a {
            padding: .5rem .7rem;
            // color: #000;
            color: #ffffffdc;
            display: flex;
            align-items: center;

            @include mixin.responsive("xs") {
              color: #000;
            }

            @include mixin.responsive("sm", "sm-md") {
              color: #000;
            }

            &.page-link {
              font-size: .96rem;
              position: relative;
              transition: 400ms;

              &.active:not(.mail-link) {
                color: #0c97fa;
              }

              &:hover:not(.mail-link, .active) {
                // color: rgba(0, 0, 0, 0.546);
                color: #ffffffb1;

                @include mixin.responsive("xs") {
                  color: rgba(0, 0, 0, 0.546);
                }

                @include mixin.responsive("sm", "sm-md") {
                  color: rgba(0, 0, 0, 0.546);
                }
              }

              &:not(.mail-link)::after {
                position: absolute;
                content: "";
                top: 100%;
                left: 45%;
                width: 10%;
                height: .2rem;
                border-radius: 1rem 1rem 0 0;
                background-color: transparent;
                transition: 400ms;
              }

              &:hover:not(.mail-link, .active)::after {
                left: 10%;
                width: 80%;
                background-color: dodgerblue;
              }
            }

            &.mail-link {
              padding: .2rem 1.4rem;
              background-color: rgba(30, 143, 255, 0.891);
              border-radius: .4rem;
              color: #fff;

              &:hover:not(.active),
              &.active {
                background-color: rgba(30, 143, 255, 0.612);
              }
            }
          }
        }

        &:nth-child(3) {
          // second child /* ul.nav */
          gap: 1rem;

          li a {
            $white: linear-gradient(#fff, #fff);
            $gradient: linear-gradient(to right, #0c97fa, #16e1f5);
            border: .25rem solid transparent;
            border-radius: .5rem;
            padding: .4rem;

            @include mixin.responsive("xs") {
              flex-direction: row !important;
            }

            @include mixin.responsive("sm", "sm-md") {
              flex-direction: row !important;
            }

            svg {
              width: 1.5rem;
              height: 1.5rem;
              background-color: #fff;
              border-radius: .2rem;
            }

            &:hover {
              background: $white padding-box, $gradient border-box;
            }

          }
        }
      }
    }
  }
}

/* header end */

/* main */
main {
  width: 100%;

  /* hero area */
  .hero-area {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.272), rgba(0, 0, 0, 0.331)), url('../assets/laptop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 95vh;

  }
}