@use "../assets/scss/abstract/variables" as var;
@use "../assets/scss/abstract/mixins" as mixin;

/* header */
.header {
  width: 100%;
  padding: .6rem 8rem;
  background-color: transparent;
  transition: 300ms ease-in-out;
  z-index: 10;

  @include mixin.responsive("xs") {
    padding: .6rem 2rem;
  }

  @include mixin.responsive("sm", "sm-md") {
    padding: .6rem 2rem;
  }

  @include mixin.responsive("lg") {
    padding: .6rem 6rem;
  }

  @include mixin.responsive("xl") {
    padding: .6rem 7rem;
  }

  @include mixin.responsive("xxl") {
    padding: .6rem 8rem;
  }

  &.nav-sticky {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px #00000071;
    transition: 300ms ease-in-out;

    @include mixin.responsive("xs") {
      // background: linear-gradient(to right, rgba(0, 0, 0, 0.953), rgba(0, 0, 0, 0.593));
      background-color: #fff;
    }

    @include mixin.responsive("sm", "sm-md") {
      background-color: #fff;
    }

  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > a {
      font-family: var.$font-shadow;
      font-size: 1.4rem;
      color: #ffffffdc;

      &.dark {
        color: #000 !important;
      }

      @include mixin.responsive("xs") {
        color: #ffffff;

        &.dark {
          color: #000 !important;
        }
      }

      @include mixin.responsive("xs", $orientation: "landscape") {
        color: #ffffff;

        &.dark {
          color: #000 !important;
        }
      }

      @include mixin.responsive("sm", "sm-md") {
        color: #ffffff;

        &.dark {
          color: #000 !important;
        }
      }

      & > span {
        font-size: .9rem;
      }

      &:hover {
        color: rgba(169, 211, 253, 0.927);
        transition: 300ms;
      }

      &.dark:hover {
        color: rgb(34, 144, 255) !important;
        transition: 300ms;
      }
    }

    &--menu {
      display: none;

      @include mixin.responsive("xs") {
        display: flex;
        justify-content: center;
        align-items: center;

      }

      @include mixin.responsive("sm", "sm-md") {
        display: flex;
        justify-content: center;
        align-items: center;

      }

      & > svg {
        width: 1.5rem;
        color: #ffffffdc;

        &.dark {
          color: #000 !important;
        }

        @include mixin.responsive("xs") {
          color: #ffffff;

          &.dark {
            color: #000 !important;
          }
        }

        @include mixin.responsive("xs", $orientation: "landscape") {
          color: #ffffff;

          &.dark {
            color: #000 !important;
          }
        }

        @include mixin.responsive("sm", "sm-md") {
          color: #ffffff;

          &.dark {
            color: #000 !important;
          }
        }
      }
    }

    &--item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mixin.responsive("lg") {
        gap: 3rem;
      }

      @include mixin.responsive("xs") {
        height: 100%;
        width: 70%;
        position: fixed;
        top: 0;
        padding: 1.1rem 2rem 2rem 2rem;
        right: -100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        overflow-y: auto;
        z-index: 20;
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.764);
        transition: 400ms ease-in-out;

        &.show-nav {
          right: 0 !important;
          transition: 400ms ease-in-out;
        }
      }

      @include mixin.responsive("sm", "sm-md") {
        height: 100%;
        width: 50%;
        position: fixed;
        top: 0;
        padding: 1.1rem 2rem;
        right: -100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        z-index: 20;
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.764);
        transition: 400ms ease-in-out;

        &.show-nav {
          right: 0 !important;
          transition: 400ms ease-in-out;
          overflow-y: auto;
        }
      }

      .cls-nav {
        display: none;

        @include mixin.responsive("xs") {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          align-items: flex-end;
        }

        @include mixin.responsive("xs", $orientation: "landscape") {
          position: sticky;
          top: 5%;
          right: 5%;
        }

        @include mixin.responsive("sm", "sm-md") {
          display: flex;
          width: 100%;
          justify-content: flex-end;
          align-items: flex-end;
        }


        svg {
          width: 1.5rem;
        }
      }

      & ul.nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5rem;

        &:not(.social-link-section) {
          @include mixin.responsive("xs") {
            flex-direction: column;
          }

          @include mixin.responsive("sm", "sm-md") {
            flex-direction: column;
          }
        }

        @include mixin.responsive("xs") {
          align-items: center;
        }

        @include mixin.responsive("sm", "sm-md") {
          align-items: center;
        }

        li.nav-item {
          list-style: none;

          & a {
            padding: .5rem .7rem;
            // color: #000;
            color: #ffffffea;
            display: flex;
            align-items: center;

            &.dark-li {
              color: #000 !important;
            }

            @include mixin.responsive("xs") {
              color: #000;
            }

            @include mixin.responsive("sm", "sm-md") {
              color: #000;
            }

            &.page-link {
              font-size: .96rem;
              position: relative;
              transition: 400ms;

              &.active:not(.mail-link) {
                color: #0c97fa;
              }

              &:hover:not(.mail-link, .active) {
                // color: rgba(0, 0, 0, 0.546);
                color: #ffffffb1;

                @include mixin.responsive("xs") {
                  color: #000000cc;
                }

                @include mixin.responsive("sm", "sm-md") {
                  color: #000000cc;
                }
              }

              &.dark-li:hover:not(.mail-link, .active) {
                color: #0000009b !important;
              }

              &:not(.mail-link)::after {
                position: absolute;
                content: "";
                top: 100%;
                left: 45%;
                width: 10%;
                height: .2rem;
                border-radius: 1rem 1rem 0 0;
                background-color: transparent;
                transition: 400ms;
              }

              &:hover:not(.mail-link, .active)::after {
                left: 10%;
                width: 80%;
                background-color: dodgerblue;
              }
            }

            &.mail-link {
              padding: .2rem 1.4rem;
              background-color: transparent;
              border-radius: .4rem;
              color: #fff;
              border: 1px solid #fff;
              text-decoration: underline;

              @include mixin.responsive("xs") {
                color: #1e8fffe3;
                border: 1px solid #1e8fffe3;
              }

              @include mixin.responsive("xs", $orientation: "landscape") {
                color: #1e8fffe3;
                border: 1px solid #1e8fffe3;
              }

              @include mixin.responsive("sm", "sm-md") {
                color: #1e8fffe3;
                border: 1px solid #1e8fffe3;
              }

              &.dark-m {
                color: #1e8fffe3 !important;
                border: 1px solid #1e8fffe3 !important;
              }

              &:hover:not(.active),
              &.active {
                background-color: #fff;
                color: #000;

                @include mixin.responsive("xs") {
                  background-color: #1e8fffe3;
                  color: #fff;
                  border-color: #1e8fffe3;
                }

                @include mixin.responsive("xs", $orientation: "landscape") {
                  background-color: #1e8fffe3;
                  color: #fff;
                  border-color: #1e8fffe3;
                }

                @include mixin.responsive("sm", "sm-md") {
                  background-color: #1e8fffe3;
                  color: #fff;
                  border-color: #1e8fffe3;
                }
              }

              &.dark-m:hover:not(.active),
              &.active {
                background-color: #1e8fffe3 !important;
                color: #fff !important;
                border-color: #1e8fffe3 !important;
              }
            }
          }
        }

        &:nth-child(3) {
          // second child /* ul.nav */
          gap: 1rem;

          li a {
            $white: linear-gradient(#fff, #fff);
            $gradient: linear-gradient(to right, #0c97fa, #16e1f5);
            border: .25rem solid transparent;
            border-radius: .5rem;
            padding: .4rem;

            @include mixin.responsive("xs") {
              flex-direction: row !important;
            }

            @include mixin.responsive("sm", "sm-md") {
              flex-direction: row !important;
            }

            svg {
              width: 1.5rem;
              height: 1.5rem;
              background-color: #fff;
              border-radius: .2rem;
            }

            &:hover {
              background: $white padding-box, $gradient border-box;
            }

          }
        }
      }
    }
  }
}

/* header end */

/* main */
main {
  width: 100%;

  /* hero area */
  .hero-area {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.757), rgba(0, 0, 0, 0.663)), url('../assets/laptop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 92vh;
    max-height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include mixin.responsive("xs") {
      gap: 6rem;
    }

    @include mixin.responsive("xs", $orientation: "landscape") {
      gap: 1rem;
    }

    @include mixin.responsive("sm", $scope: "sm-md") {
      gap: 4rem;
    }

    @include mixin.responsive("lg") {
      gap: 4rem;
    }

    @include mixin.responsive("xl") {
      gap: 4rem;
    }


    &--content {
      padding: 8rem 0 0 8rem;

      @include mixin.responsive("xs") {
        padding: 8rem 0 0 2rem;

      }

      @include mixin.responsive("xs", $orientation: "landscape") {
        padding: .8rem 0 0 9rem !important;
      }

      p.greet {
        font-family: var.$font-shadow;
        font-size: 3rem;
        color: #fff;

        @include mixin.responsive("xs") {
          font-size: 1.5rem;
        }

        @include mixin.responsive("sm", "sm-md") {
          font-size: 1.7rem;
        }
      }

      div.intro-txt {
        color: #ffffff;

        p.static {
          font-size: 2.5rem;

          @include mixin.responsive("xs") {
            font-size: 1.5rem;
          }

          @include mixin.responsive("sm", "sm-md") {
            font-size: 1.7rem;
          }

          span.name {
            font-size: 3rem;
            font-weight: 700;
            color: transparent;
            background: -webkit-linear-gradient(to right, #acb6e5, #86fde8);
            background: linear-gradient(to right, #acb6e5, #86fde8);
            -webkit-background-clip: text !important;
            background-clip: text;
            -webkit-text-fill-color: transparent !important;

            @include mixin.responsive("xs") {
              font-size: 1.8rem;
            }

            @include mixin.responsive("sm", "sm-md") {
              font-size: 2rem;
            }
          }
        }

      }

      div.firstC {
        p {
          position: absolute;
          font-size: 3.3rem;
          font-weight: 700;
          color: #fff;

          @include mixin.responsive("xxs") {
            font-size: 1.5rem !important;
          }

          @include mixin.responsive("xs") {
            font-size: 2rem;
          }

          @include mixin.responsive("sm", "sm-md") {
            font-size: 2.2rem;
          }

          &:nth-child(1) {
            color: transparent;
            -webkit-text-stroke: .2px #fff;
          }

          &:nth-child(2) {
            background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
            background: linear-gradient(to right, #eef2f3, #8e9eab);
            -webkit-background-clip: text !important;
            background-clip: text;
            -webkit-text-fill-color: transparent !important;
            animation: wave 10s linear infinite;
          }

          @keyframes wave {

            0%,
            100% {
              clip-path: polygon(0 22%, 10% 23%, 21% 25%, 32% 29%, 40% 36%, 48% 46%, 60% 48%, 73% 48%, 81% 45%, 79% 31%, 100% 28%, 100% 100%, 0 100%);
            }

            50% {
              clip-path: polygon(0 67%, 8% 57%, 19% 49%, 30% 44%, 39% 36%, 48% 31%, 58% 31%, 70% 34%, 80% 36%, 93% 45%, 100% 58%, 100% 100%, 0 100%);
            }

          }
        }
      }
    }

    &--bottom {
      display: grid;
      place-items: center;
      width: 100%;
      transition: 300ms ease-in-out;
      animation: jump 2s linear infinite;

      &.v-hide {
        visibility: hidden;
      }

      @include mixin.responsive("xs") {
        margin-top: 3.5rem;
      }

      &-text {
        color: #ffffffc3;
        font-size: 1rem;
      }

      & > svg {
        color: #ffffffc3;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    @keyframes jump {

      0%,
      100% {
        transform: translateY(0%);
      }

      50% {
        transform: translateY(20%);
      }


    }
  }

  // all sec
  section:not(.hero-area) {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 8rem;

    @include mixin.responsive("xxs") {
      & {
        padding: 1rem .7rem !important;
      }
    }

    @include mixin.responsive("xs") {
      & {
        padding: 1rem 1rem;
      }
    }

    @include mixin.responsive("xs", $orientation: "landscape") {
      & {
        padding: 1rem 1rem;
      }
    }

    @include mixin.responsive("sm") {
      & {
        padding: 1rem 1rem;
      }
    }

    @include mixin.responsive("md") {
      & {
        padding: 1rem 1.2rem;
      }
    }

    @include mixin.responsive("lg") {
      & {
        padding: 1rem 2.5rem;
      }
    }

    @include mixin.responsive("xl") {
      & {
        padding: 1rem 5rem;
      }
    }

    @include mixin.responsive("xxl") {
      & {
        padding: 1rem 9rem;
      }
    }
  }

  section > div.col {
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
  }

  section > div.col > div.sec-title {
    display: flex;

    .title {
      position: relative;

      h2 {
        color: #000;
        font-size: 1.1rem;

        span.title-first-letter {
          font-size: 2rem;
        }

      }

      &::after {
        position: absolute;
        content: "";
        width: 45%;
        height: .3rem;
        top: 100%;
        left: 15%;
        border-radius: 0 0 1rem 1rem;
        background-color: #000;
      }
    }

  }

  /*about sec */
  & section.about-section {
    div.about-content {
      padding: 3rem 1.5rem;

      figure {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        @include mixin.responsive("xs") {
          & {
            flex-direction: column;
          }
        }

        @include mixin.responsive("sm") {
          & {
            flex-direction: column;
          }
        }

        @include mixin.responsive("md") {
          & {
            flex-direction: row;
          }
        }

        img {
          width: 10rem;
          border-radius: .5rem;
          object-fit: cover;
          aspect-ratio: 2/3;

          @include mixin.responsive("md") {
            & {
              width: 11rem;
            }
          }

          @include mixin.responsive("lg") {
            & {
              width: 13rem;
            }
          }

        }

        figcaption {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 1.5rem;

          p {
            @include mixin.responsive("xs") {
              & {
                font-size: .85rem;
              }
            }

            @include mixin.responsive("sm") {
              & {
                font-size: .90rem;
              }
            }

            @include mixin.responsive("md") {
              & {
                font-size: 1rem;
              }
            }

            @include mixin.responsive("lg") {
              & {
                font-size: 1.2rem;
              }
            }
          }

          div.btn-sec {
            display: flex;
            gap: 1.5rem;

            @include mixin.responsive("xs") {
              & {
                gap: .6rem;
              }
            }

            @include mixin.responsive("sm") {
              & {
                gap: .9rem;
              }
            }

            @include mixin.responsive("md") {
              & {
                gap: 1.2rem;
              }
            }

            @include mixin.responsive("lg") {
              & {
                gap: 1.6rem;
              }
            }

            a.cv {
              padding: .4rem 1.2rem;
              border-radius: .4rem;
              transition: 300ms ease-in-out;

              @include mixin.responsive("xs") {
                & {
                  padding: .4rem .7rem;
                  font-size: .8rem;
                }
              }

              @include mixin.responsive("sm") {
                & {
                  padding: .4rem .9rem;
                  font-size: .9rem;
                }
              }

              @include mixin.responsive("md") {
                & {
                  padding: .4rem 1rem;
                  font-size: 1rem;
                }
              }

              @include mixin.responsive("lg") {
                & {
                  padding: .4rem 1rem;
                  font-size: 1.1rem;
                }
              }

              @include mixin.responsive("xs", $orientation: "landscape") {
                & {
                  padding: .4rem .9rem;
                  font-size: .9rem;
                }
              }
            }

            a.open-cv {
              background-color: transparent;
              color: #000000db;
              border: 1px solid #000000b4;
              text-decoration: underline;

              &:hover {
                background-color: #000000b4;
                color: #fff;
              }
            }

            a.download-cv {
              background-color: #000000b4;
              color: #fff;

              &:hover {
                background-color: #00000099;
                color: #ffffffeb;
              }
            }
          }
        }
      }
    }

  }

  /* skill sec */
  & section.skills-section {
    div.skill-content {
      display: grid;
      place-items: center;
      width: 100%;
      padding: 3rem 1rem;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      @include mixin.responsive("xxs") {
        & {
          padding: 2rem .2rem !important;
          grid-template-columns: repeat(1, 1fr);
          gap: .5rem;
        }
      }

      @include mixin.responsive("xs") {
        & {
          padding: 2rem .3rem;
          grid-template-columns: repeat(1, 1fr);
          gap: .5rem;
        }
      }

      @include mixin.responsive("sm") {
        & {
          padding: 2rem .3rem;
          grid-template-columns: repeat(1, 1fr);
          gap: .7rem;
        }
      }

      @include mixin.responsive("md") {
        & {
          padding: 2rem .8rem;
          grid-template-columns: repeat(2, 1fr);
          gap: .7rem;
        }
      }

      @include mixin.responsive("lg") {
        & {
          padding: 2rem 1rem;
          gap: .9rem;
        }
      }

      @include mixin.responsive("xl") {
        & {
          padding: 2rem 1.5rem;
          gap: 1rem;
        }
      }

      @include mixin.responsive("xs", $orientation: "landscape") {
        & {
          padding: 2rem .2rem;
          gap: .5rem;
        }
      }

      div.skills {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: .3rem;
        box-shadow: 0 0 4px 0 #0000003b;
        border-radius: .3rem;

        @include mixin.responsive("xxs") {
          & {
            gap: 0 !important;
            padding: .2rem !important;
          }
        }

        @include mixin.responsive("xs") {
          & {
            gap: .5rem;
          }
        }

        @include mixin.responsive("xs") {
          & {
            gap: .5rem;
          }
        }

        @include mixin.responsive("xs", $orientation: "landscape") {
          & {
            gap: .5rem;
          }
        }

        div.skills-head {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          gap: .5rem;

          @include mixin.responsive("xxs") {
            & {
              width: 70% !important;
            }
          }

          svg {
            width: 1rem;
            height: 1rem;

            @include mixin.responsive("lg") {
              width: 1.5rem;
              height: 1.5rem;
            }
          }

          p {
            font-size: .8rem;

            @include mixin.responsive("xs") {
              & {
                font-size: .72rem;
              }
            }

            @include mixin.responsive("lg") {
              & {
                font-size: 1rem;
              }
            }

            @include mixin.responsive("xs", $orientation: "landscape") {
              & {
                font-size: .77rem;
              }
            }
          }
        }

        div.skill-progress {
          width: 20rem;
          height: 1rem;
          position: relative;

          @include mixin.responsive("xxs") {
            & {
              width: 6rem !important;
              height: .5rem;
            }
          }

          @include mixin.responsive("xs") {
            & {
              width: 12rem;
              height: .5rem;
            }
          }

          @include mixin.responsive("sm") {
            & {
              width: 12rem;
              height: .5rem;
            }
          }

          @include mixin.responsive("md") {
            & {
              width: 13rem;
              height: .5rem;
            }
          }

          @include mixin.responsive("lg") {
            & {
              width: 15rem;
              height: .5rem;
            }
          }

          @include mixin.responsive("xs", $orientation: "landscape") {
            & {
              width: 9rem !important;
              height: .5rem;
            }
          }


          &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            background-color: #00000023;
            width: 100%;
            height: 1rem;
            border-radius: .2rem;

            @include mixin.responsive("xxs") {
              & {
                height: .5rem;
              }
            }

            @include mixin.responsive("xs") {
              & {
                height: .5rem;
              }
            }

            @include mixin.responsive("sm") {
              & {
                height: .6rem;
              }
            }

            @include mixin.responsive("xs", $orientation: "landscape") {
              & {
                height: .5rem;
              }
            }
          }

          &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            background-color: #000000d1;
            height: 1rem;
            border-radius: .2rem;
            clip-path: polygon(0 0, 100% 0%, 84% 100%, 0% 100%);

            @include mixin.responsive("xxs") {
              & {
                height: .5rem;
              }
            }

            @include mixin.responsive("xs") {
              & {
                height: .5rem;
              }
            }

            @include mixin.responsive("sm") {
              & {
                height: .6rem;
              }
            }

            @include mixin.responsive("xs", $orientation: "landscape") {
              & {
                height: .5rem;
              }
            }
          }

        }

        div.skill-percentage {
          width: 100%;
          text-align: center;

          @include mixin.responsive("xxs") {
            & {
              width: 50%;
            }
          }
        }
      }

      $langs: 'ng' '54%', 'html' '85%', 'css' '80%', 'js' '50%', 'sass' '65%', 'github' '45%', 'vs-code' '70%', 'dj' '60%', 'bs' '75%', 'git' '45%', 'mysql' '55%', 'py' '55%';

      @each $lang,
      $wth in $langs {
        div.#{$lang} div.skill-progress::after {
          width: #{$wth};
        }
      }
    }
  }

  section.project-section > div.col > div.project-content {
    width: 100%;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    div.live-projects {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: .2rem 2rem;
      gap: 3rem;

      @include mixin.responsive ("xs") {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 0;
      }

      @include mixin.responsive ("sm") {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 0;
      }

      @include mixin.responsive ("xs", $orientation: "landscape") {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 0;
      }

      @include mixin.responsive ("md") {
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        padding: 0 .5rem;
      }

      @include mixin.responsive ("lg") {
        gap: 6rem;
      }

      @include mixin.responsive ("xl") {
        gap: 9rem;
      }

      @include mixin.responsive ("xxl") {
        gap: 11rem;
      }

      div.project {
        @include mixin.responsive("xs") {
          text-align: center;
        }

        @include mixin.responsive("sm") {
          text-align: center;
        }
      }

      div.project > h4 {
        font-weight: 500;
        margin-bottom: .9rem;

        @include mixin.responsive("xxs") {
          font-size: .9rem;
        }

        @include mixin.responsive("xs") {
          font-size: 1rem;
        }
      }

      div.project a {
        background-color: transparent;
        color: #0691f4;
        border: 1px solid #0691f4;
        text-decoration: underline;
        padding: .4rem 1rem;
        border-radius: .4rem;
        transition: 300ms ease-in-out;

        @include mixin.responsive("xxs") {
          font-size: .8rem;
          padding: .3rem .8rem !important;
        }

        @include mixin.responsive("xs") {
          font-size: .8rem;
          padding: .3rem .8rem;
        }

        &:hover {
          background-color: #0691f4;
          color: #ffffff;
        }
      }
    }
  }

  section.contact-section > div.col > div.contact-content {
    width: 100%;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

    h2 {
      font-weight: 400;

      @include mixin.responsive("xs", $orientation: "landscape") {
        font-size: 1rem;
      }

      @include mixin.responsive("xxs") {
        font-size: 1rem !important;
      }

      @include mixin.responsive("xs") {
        font-size: 1.2rem;
      }
    }

    & > a > svg {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      padding: .5rem;
      box-shadow: 0 0 .9rem 0 #00000041;
    }

    ul.contact-social-links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      list-style: none;

      li > a > svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}