/*** Global style sheet  ***/
@use "./assets/scss/abstract/variables" as var;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:wght@100;200;300;400;700&family=Shadows+Into+Light&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var.$font-poppins;
  scroll-behavior: smooth;
  scroll-margin-top: 60px;
}

a {
  text-decoration: none;
}

body {
  background-color: #000;
}

::-webkit-scrollbar {
  background-color: #000000a9;
}

::-webkit-scrollbar-button {
  background-color: #000000a9;
}

::-webkit-scrollbar-track {
  background-color: #000000a9;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.404);
  border-radius: 3rem;
  height: 1rem;
}